
.StudentCard {
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.name-input {
  background: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  display: block;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.StudentCard .HoverInput {
  font-size: 1em;
}
