
.StudentList {
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 24px;
}

.StudentList .students {
  display: grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  gap: 32px;
}

.StudentList .title {
  font-size: 32px;
}
