
.TabCard {
  position: relative;
  background-color: #d7d7d7;
  padding: 32px 16px;
  cursor: pointer;
  border: 3px solid transparent;
  border-left: 0;
}

.TabCard:hover {
  background-color:#d0d0d0;
}

.TabCard.active {
  background-color: #c7c7c7;
  border-color: #505050;
}

.TabCard.active:hover {
  background-color: #c7c7c7;
  cursor: default
}

.TabCard .HoverInput {
  font-size: 0.9em;
}
